* {
  box-sizing: border-box;
  font-family: Montserrat;
}
html {
  background-color: transparent !important;
  overflow: visible !important;
}
body {
  background: #f6f8f7;
}
body .navbar {
  background: transparent;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  /* filter: blur(1rem); */
}
button {
  cursor: pointer;
}
/* .container {
  max-width: 1020px;
  margin: 0 auto;
} */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
footer {
  float: left;
  width: 100%;
  margin: 120px 0 0 0;
}
.meny-cabinet {
  padding: 0 0 0 100px;
}
:deep(.ql-editor) {
  min-height: 200px;
}
:deep(.ql-toolbar.ql-snow) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
:deep(.ql-container.ql-snow) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.footer {
  background-color: #ededed !important;
  color: #989898;
  padding: 3rem 1.5rem 6rem;
  border-radius: 12px;
  margin: 100px 0 30px;
}

.el-popup-parent--hidden {
  overflow: hidden;
}
